.bar-wrapper
  section
    button.clear-button.prev-pointer(ng-show='navbarInfo.enableBack', ng-click='goBack()')
  h3 {{navbarInfo.title}}
  section
    .right-button(ng-show='navbarInfo.enableMenu', ng-click='menuOpen = !menuOpen')
      .burger-button-container
        .burger-button(ng-class='{active: menuOpen}')

    button.clear-button.right-button(ng-show='navbarInfo.enableSave', ng-click='save()', ng-disabled="!navNextEnabled") Save
    button.clear-button.next-pointer(ng-show='navbarInfo.enableNext', ng-click="navGoNext()", ng-disabled="!navNextEnabled") Next

.menu(ng-show="menuOpen")
  a(ui-sref='cars', ng-click='menuOpen = false') Home
  a(ng-show='isLoggedIn', ui-sref='driverAccount', ng-click='menuOpen = false') My account
  a(ng-show='isLoggedIn', ui-sref='driverAccount.bookings', ng-click='menuOpen = false') My rental
  a(ng-show='!isLoggedIn', ui-sref='newUser.phoneNumber') Sign up
  a(ng-show='!isLoggedIn', ui-sref='login') Log in
  a(ui-sref='faq.driver', ng-click='menuOpen = false') Questions
