.single-choice
  @extend %medium_gray_theme

  .section-row
    padding: 0 1rem

    .row-content
      display: flex
      padding: 1rem 0

    .choice
      flex: 1
      text-align: left

    .checked
      @extend %flex_container_center

      img
        height: 1rem

