.modal-background
  .modal-container
    img.modal-logo(ng-src='/assets/images/idlecars_logo_white.png')
    .modal-content(ng-transclude)
    button.clear-button.close(ui-sref="{{actionSref || '.'}}", ng-click="actionClick()")
      img(ng-src='/assets/images/Arrow_Next.png')
