.cancel-container
  .tiny.warning If you are not completey satisifed with the car you can cancel before the rental begins for a full refund of your deposit.
  button.cancel-button(ng-click='doShowConfirm()') Cancel booking
