ui-gmap-google-map(ng-init='startmap()', center='map.center', zoom='map.zoom', options='map.options', refresh=true, control='map.control', events='map.events')
  ui-gmap-circle(center='circle.center', radius='circle.radius', stroke='circle.stroke', fill='circle.fill')
  ui-gmap-marker(coords='marker.coords', idkey='marker.id', options='marker.options')



