.time-container
  .flex-row
    .bold.label Rental Starts
    .light.content {{booking.start_time_display}} #[span.tiny.m-gray(ng-if='booking.start_time_estimated', style='padding: 0') estimated]
  .flex-row
    .bold.label Rental Ends
    .light.content {{booking.end_time_display}}
  .flex-row
    .tiny.m-gray.label {{booking.end_time_limit_display}}
    button.clear-button.bold.content.ic-blue(pick-a-date='date', pick-a-date-options='options' ng-model='date') Change End Date
