.form-container
  .text-wrapper
    section
      label(for="{{label}}") {{label}}

    section.content-container
      .content-row(ng-repeat="content in contents track by $index")
        .title(ng-show='content.title') {{content.title}}:
        .content {{content.content}}

    section
      div(ng-repeat="button in buttons track by $index")
        button.slimer-button(ng-click="button['click']()") {{button.value}}
