.tutorial-steps-wrapper
  .tutorial-steps-content
    .tutorial-container(ng-repeat='i in stepsArray')
      img(ng-src='/assets/images/tutorial/tutorial{{i+1}}_{{state[i]}}.png')

  .content(ng-transclude)
