.container
  .content
    .content-row(ng-repeat="message in messages track by $index", ng-click='close($index)')
      img(src='/assets/images/error.png', ng-if='!(message.content.success || message.content.warning)')
      img(src='/assets/images/success.png', ng-if='message.content.success')
      img(src='/assets/images/warning.png', ng-if='message.content.warning')
      .message {{message.content.success || message.content.warning || message.content.error || message.content}}
      .close X
