.tutorial-wrapper(ng-if='tutorialOn')
  .tutorial-container
    slick(dots='true', arrows='{{!isMobile}}', infinite='false')
      div
        .tutorial-content
          .flex-cell
            img(src='/assets/images/tutorial/tutorial1.png')
            h3 Pick A Car. Any Car.
            p.
              Find the car that fits your style #[br]
              and budget. Choose from a wide #[br]
              variety of makes, models, #[br]
              mileage and more.

      div
        .tutorial-content
          .flex-cell
            img(src='/assets/images/tutorial/tutorial2.png')
            h3 Create Your Account.
            p.
              Using your smartphone, take clear #[br]
              pictures of these 4 documents #[br]
            ul.docs-list
              li Valid drivers license
              li TLC license
              li Defensive Driving Certificate
              li Proof of Address

      div
        .tutorial-content
          .flex-cell
            img(src='/assets/images/tutorial/tutorial3.png')
            h3 Reserve Your Car.
            p.
              Use your credit card or bank account #[br]
              for your deposit. The car is now #[br]
              reserved just for you. Don’t worry, #[br]
              you won’t be charged until #[br]
              you pick up the car.

      div
        .tutorial-content
          .flex-cell
            img(src='/assets/images/tutorial/tutorial4.png')
            h3 DRIVE.
            p.
              Once you’re added to the insurance #[br]
              (takes one or two days), go check out #[br]
              your rental. Tap the app to accept your #[br]
              car and pay the first week’s rental fee. #[br]
              #[br]
              That’s it!
            section
              button.white-button(ng-click="closeTutorial()") FIND YOUR CAR

      button.circle-button(ng-click="closeTutorial()")
